{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
{% load static %}

<!--Header/Title-->
<div class="container border  bg-dark text-white border-dark">
  <div class="container lighten-4">
    <h3 class="text-center">Customer Sign Out</h3>
  </div>
</div>

<!--Header image-->
<div class="container purple lighten-4">
  <div class="row">
    <img class="account-header-image" src="{% static '/media/images/about_hero.jpg' %}" class="rounded" alt="...">
  </div>
</div>

<!--info container-->
<div class="container border border-dark ">
  <div class="container">
    <!--Logout Code-->
    <div>
      <p> {% include 'messages.html' %}</p>
    </div>
    <h4>{% trans "Sign Out" %}</h4>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn-success">{% trans 'Sign Out' %}</button>
    </form>
    <div>
      <br>
      <a href="{{request.META.HTTP_REFERER}}"><button class="btn btn-dark" type="">Cancel</button></a>
    </div>
    <br>
  </div>
</div>

{% endblock %}