{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
{% load static %}
<!--Header Title-->
<div class="container border  bg-dark text-white border-dark">
  <div class="container lighten-4">
    <h3 class="text-center">Customer Registration</h3>
  </div>
</div>

<!--Header image-->
<div class="container purple lighten-4">
  <div class="row">
    <img class="account-header-image" src="{% static 'images/about_hero.jpg' %}" class="rounded" alt="...">
  </div>

</div>
<!--Content-->
<div class="container border border-dark">
  <div class="container low-content">
    <div>
      <!--Login code-->
      <h4>{% trans "Sign Up" %}</h4>
      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
      
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-success">{% trans "Sign Up" %} &raquo;</button>
      </form>
      <br>
    </div>
  </div>
</div>






{% endblock %}
