#user-top-display {
    height: 30vh;

}

#user-bottom-display {
    height: 30vh;

}

.pointer {
    cursor: pointer;
  }
.clickable-row:hover {
    background: lightblue;
  }

.submitted {
    background-color: lightyellow;
}

.submitted:hover {
    background-color: yellow;
}

.check_email {
    background-color: lightgreen;
}

