#user-top-display {
    height: 30vh;

}



.pointer {
    cursor: pointer;
  }
.clickable-row:hover {
    background: lightblue;
  }

.submitted {
    background-color: lightyellow;
}

.submitted:hover {
    background-color: yellow;
}

.check_email {
    background-color: lightgreen;
}

#active-delete {
    color: red;
}

.hero-image {
    max-height: 70vh;
}

.round-image {
    height: 200px;
    width: 200px;
}

.card-body {
    min-height: 30vh;
}

.three-card-container {
    max-width: 500px;
}

body, html {
    height: 100%;
}

/*swedish flag*/
.swedish-flag {
    width: 20px;
    height: auto;
    margin-right: 4px;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero {
    object-fit: cover;
    width: 100vw;
    height: 50vh;
    
}

.highlight_image {
    object-fit: cover;
    width: 100%;
    height: 40vh;
}

.highlight-content-container {
    width: 95%;
}

.highlight-text-body {
    margin-bottom: 30px;
    margin-top: 30px;
}

/*Page Footer*/
.page-footer {
    margin-top: 5vh;
}

/*about page*/
.single-card {
    width: 95%;
}

/*form template*/


.form-container {
    width: 90%;
}

.form-spacer {
    height: 5vh;
}