h1 {
    font-family: apparat, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: capitalize;
    /* text-transform: uppercase; */
    letter-spacing: 0.1em;
    font-size: 4em;
}

p, ul {
    font-family: rival-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero-sub-text {
    font-family: apparat,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: brown;
}

h5, h4, h3, .btn {
    font-family: rival-sans,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.signature {
    font-family: baka-too, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

/*Compensates the navigation being fixed*/
.nav-spacer {
    height: 62px;
}

.nav-spacer2 {
    height: 55px;
}

.admin-nav {
    font-weight: 700;
}

#mobile-status {
    padding-left: 15px;
    text-align: left;
    font-size: smaller;
}

.status-large-display{
    margin-bottom: 0;
}

#user-top-display {
    height: 30vh;
}

.pointer {
    cursor: pointer;
  }
.clickable-row:hover {
    background: lightblue;
  }

.submitted {
    background-color: lightyellow;
}

.submitted:hover {
    background-color: yellow;
}

.check_email {
    background-color: lightgreen;
}

#active-delete {
    color: red;
}

.hero-image {
    max-height: 70vh;
}

.round-image {
    height: 200px;
    width: 200px;
}

.card-body {
    min-height: 30vh;
    padding-bottom: 50px;
}

.three-card-container {
    max-width: 500px;
}

/*Align buttons to bottom of container*/
.button-bottom {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body, html {
    height: 100%;
}

/*swedish flag*/
.swedish-flag {
    width: auto;
    height: 20px;
    margin-right: 4px;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero {
    object-fit: cover;
    width: 100vw;
    height: 50vh;
    
}

.highlight_image {
    object-fit: cover;
    width: 100%;
    height: 40vh;
}

.highlight_image_about {
    object-fit: cover;
    width: 100%;
    height: 25vh;
}

/*applies margin on content when viewed via mobile*/
.text-margin {
    margin-bottom: 20px;
}

/*Header images*/

.enquiry-header {
    object-fit: cover;
    width: 100%;
    height: 25vh;
}

.account-header-image {
    object-fit: cover;
    width: 100%;
    height: 15vh;
}

.highlight-content-container {
    width: 95%;
}

.highlight-text-body {
    margin-bottom: 30px;
    margin-top: 30px;
}

/*Page Footer*/
.page-footer {
    margin-top: 5vh;
}

/*Pages with little content - sets a min height for better footer placement*/
.low-content {
    min-height: 50vh;
}

/*about page*/
.single-card {
    width: 95%;
}

.side_image_about {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Enquiry text header*/
.text-header {
    padding-top: 25px;
    padding-bottom: 5px;
}

/*form template*/

.form-container-outer {
    padding-top: 3vh;
    padding-bottom: 3vh;
}


.form-container {
    width: 80%; 

}

.form-spacer {
    height: 3vh;
}



@media (max-width: 576px) { 
    .form-container {
        width: 95%; 
    }

    .hero-text {
        text-align: center;
        position: relative;
        top: -110px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        width: 80%;
    }

    h1 {
        font-size: 3em;
    }

    p {
        font-size: smaller;
    }
}
