<div class="d-block d-sm-none">

    <!--research table-->

    <div class="table-responsive">
        <table class="table" style="width: 100%">
            <!--Table Headers-->
            <thead>
                <tr>
                    <th scope="col">
                        Title
                    </th>
                    <th scope="col"> Species
                    </th>
                    <th scope="col"> Species
                    </th>
                    <th scope="col">
                        Status
                    </th>
                    <th scope="col"><i class="fa-solid fa-trash"></i></th>
                </tr>
            </thead>
            <tbody>
                <!--FOR STATEMENT-->
                {% for QuoteData in quote_list %}

                <!--IF STATEMENT OF STATUS START (Not submitted)-->
                {% if QuoteData.status == 0 %}
                <tr class="pointer clickable-row" onclick="location.href='{% url 'quote_update' QuoteData.id %}' ">
                    <!--title-->
                    <th scope="row">
                        {{ QuoteData.title}}
                    </th>
                    <!--Species-->
                    <td>

                        {{ QuoteData.species }}
                    </td>
                    <!--deminsions-->
            <td>
                {{ QuoteData.width }} x {{ QuoteData.thickness }} x
                {{QuoteData.length }}
              </td>
                    <td>
                        <a href="{% url 'quote_detail' QuoteData.id %}" class="post-link">
                            <button type="button" class="btn btn-outline-info">Submit Enquiry</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'quote_delete' QuoteData.id %}" class="post-link">
                            <i id="active-delete" class="bi bi-x-square-fill delete_button"></i>
                        </a>
                    </td>
                </tr>

                <!--ELIF STATEMENT OF STATUS (Submitted)-->
                {% elif QuoteData.status == 1 %}
                <tr class="submitted">
                    <!--title-->
                    <td scope="row">
                        {{ QuoteData.title}}
                    </td>
                    <!--Speces-->
                    <td>
                        {{ QuoteData.species }}
                    </td>
                    <!--deminsions-->
            <td>
                {{ QuoteData.width }} x {{ QuoteData.thickness }} x
                {{QuoteData.length }}
              </td>
                    <!--status-->
                    <td>Enquiry Received</td>
                    <!--delete-->
                    <td>
                        <a href="{% url 'quote_delete' QuoteData.id %}" class="post-link">
                            <i id="active-delete" class="bi bi-x-square-fill delete_button"></i>
                        </a>
                    </td>
                </tr>
                <!--ELSE STATEMENT OF STATUS (Emailed sent to user)-->
                {% else %}
                <tr class="check_email">
                    <!--title-->
                    <td scope="row">
                        {{ QuoteData.title}}
                    </td>
                    <!--Species-->
                    <td>
                        {{ QuoteData.species }}
                    </td>
                    <!--dimensions-->
            <td>
                {{ QuoteData.width }} x {{ QuoteData.thickness }} x
                {{QuoteData.length }}
              </td>
                    <!--status-->
                    <td>Response Emailed: {{ QuoteData.submitted_date }}</td>
                    <!--delete-->
                    <td>
                        <a href="{% url 'quote_delete' QuoteData.id %}" class="post-link">
                            <i id="active-delete" class="bi bi-x-square-fill delete_button"></i>
                        </a>
                    </td>
                </tr>
                {% endif %}
                <!--End For-->
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--End of mobile screen view-->
</div>