<div class="d-block d-sm-none">
    
    <a href="{% url 'new_enquiry' %}">
        <button type="button" class="btn btn-success">New Enquiry</button>
    </a>

    <!--research table-->
    
    <div class="table-responsive">
        <table class="table" style="width: 100%">

            <thead>
                <tr>
                    <th scope="col">
                        </i> Title
                    </th>
                    <th scope="col"> Species</th>

                    <th scope="col">
                        </i>
                        Status
                    </th>
                    <th scope="col"><i class="fa-solid fa-trash"></i></th>
                </tr>
            </thead>
            <tbody>
                <!--FOR STATEMENT-->
                {% for QuoteData in quote_list %}

                <!--IF STATEMENT OF STATUS START-->
                {% if QuoteData.status == 0 %}
                <tr class="pointer clickable-row" onclick="location.href='{% url 'quote_update' QuoteData.id %}' ">
                    <th scope="row">
                        {{ QuoteData.title}}
                    </th>
                    <!--Species-->
                    <td>

                        {{ QuoteData.species }}
                    </td>
                    <td>
                        <a href="{% url 'quote_detail' QuoteData.id %}" class="post-link">
                            <button type="button" class="btn btn-outline-info">Submit Enquiry</button>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'quote_delete' QuoteData.id %}" class="post-link">
                            <i id="active-delete" class="bi bi-x-square-fill delete_button"></i>
                        </a>

                    </td>
                </tr>

                <!--ELIF STATEMENT OF STATUS-->
                {% elif QuoteData.status == 1 %}
                <tr class="submitted">
                    <th scope="row">
                        {{ QuoteData.title}}
                    </th>
                    <!--Speces-->
                    <td>

                        {{ QuoteData.species }}
                    </td>
                    <!--status-->
                    <td>Enquiry Received</td>
                    <!--delete-->
                    <td>
                        <a href="{% url 'quote_delete' QuoteData.id %}" class="post-link">
                            <i id="active-delete" class="bi bi-x-square-fill delete_button"></i>
                        </a>

                    </td>
                </tr>
                <!--ELSE STATEMENT OF STATUS-->
                {% else %}
                <tr class="check_email">
                    <th scope="row">
                        {{ QuoteData.title}}
                    </th>
                    <!--Speces-->
                    <td>

                        {{ QuoteData.species }}
                    </td>
                    <!--status-->
                    <td>Response Emailed: {{ QuoteData.submitted_date }}</td>
                    <!--delete-->
                    <td>
                        <a href="{% url 'quote_delete' QuoteData.id %}" class="post-link">
                            <i id="active-delete" class="bi bi-x-square-fill delete_button"></i>
                        </a>

                    </td>
                </tr>

                {% endif %}
                <!--End For-->
                {% endfor %}
            </tbody>
        </table>
    </div>


    <!--End of mobile screen view-->
</div>