<div class=" row d-none d-sm-block">

    <a href="{% url 'new_enquiry' %}">
      <button type="button" class="btn btn-success">New Enquiry</button>
    </a>

    <!--research table-->
    <h2>reaseach table</h2>
    <div class="table-responsive">
      <table class="table" style="width: 100%">

        <thead>
          <tr>
            <th scope="col">
              <i class="bi bi-file-earmark-bar-graph-fill"></i> Title
            </th>
            <th scope="col"><i class="fa-solid fa-tree"> </i> Speices</th>
            <th scope="col"><i class="bi bi-rulers"></i> SPEC (cm)</th>
            <th scope="col"><i class="bi bi-bullseye"></i> Deadline</th>
            <th scope="col">
              <i class="bi bi-cloud-arrow-up-fill"></i>
              Status
            </th>
            <th scope="col"><i class="fa-solid fa-trash"></i></th>
          </tr>
        </thead>
        <tbody>
          <!--FOR STATEMENT-->
          {% for QuoteData in quote_list %}

          <!--IF STATEMENT OF STATUS START (Not Submitted)-->
          {% if QuoteData.status == 0 %}
          <tr class="pointer clickable-row" onclick="location.href='{% url 'quote_update' QuoteData.id %}' ">
            <th scope="row">
              {{ QuoteData.title}}
            </th>
            <!--Speices-->
            <td>

              {{ QuoteData.species }}
            </td>

            <!--deminsions-->
            <td>
              {{ QuoteData.width }} x {{ QuoteData.thickness }} x
              {{QuoteData.length }}
            </td>
            <!--deadline-->
            <td>{{ QuoteData.deadline }}</td>
            <!--status-->
            <td>
              <a href="{% url 'quote_detail' QuoteData.id %}" class="post-link">
                <button type="button" class="btn btn-outline-info">Submit This Enquiry</button>
            </a>
            </td>
            <td>
              <a href="{% url 'quote_delete' QuoteData.id %}" class="post-link">
                <i id="active-delete" class="bi bi-x-square-fill delete_button"></i>
              </a>

            </td>
          </tr>

          <!--ELIF STATEMENT OF STATUS-->
          {% elif QuoteData.status == 1 %}
          <tr class="submitted">
            <th scope="row">
              {{ QuoteData.title}}
            </th>
            <!--Speces-->
            <td>

              {{ QuoteData.species }}
            </td>

            <!--deminsions-->
            <td>
              {{ QuoteData.width }} x {{ QuoteData.thickness }} x
              {{QuoteData.length }}
            </td>
            <!--deadline-->
            <td>{{ QuoteData.deadline }}</td>
            <!--status-->
            <td>Enquiry Received: {{ QuoteData.submitted_date }}</td>
            <!--delete-->
            <td>
              <a href="{% url 'quote_delete' QuoteData.id %}" class="post-link">
                <i id="active-delete" class="bi bi-x-square-fill delete_button"></i>
              </a>

            </td>
          </tr>
          <!--ELSE STATEMENT OF STATUS-->
          {% else %}
          <tr class="check_email">
            <th scope="row">
              {{ QuoteData.title}}
            </th>
            <!--Speces-->
            <td>

              {{ QuoteData.species }}
            </td>

            <!--deminsions-->
            <td>
              {{ QuoteData.width }} x {{ QuoteData.thickness }} x
              {{QuoteData.length }}
            </td>
            <!--deadline-->
            <td>{{ QuoteData.deadline }}</td>
            <!--status-->
            <td>Response Emailed: {{ QuoteData.submitted_date }}</td>
            <!--delete-->
            <td>
              <a href="{% url 'quote_delete' QuoteData.id %}" class="post-link">
                <i id="active-delete" class="bi bi-x-square-fill delete_button"></i>
              </a>

            </td>
          </tr>

          {% endif %}
          <!--End For-->
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!--Original table-->

    <!--End of medium/ Large screen view-->
  </div>