{% extends "base.html" %}
{% block content %}
{% load static %}

<!--Header Title-->
<div class="container border  bg-dark text-white border-dark">
  <div class="container lighten-4">
    <h3 class="text-center">Custom Timber Enquiry System </h3>
  </div>
</div>

<!--Header image-->
<div class="container">
  <div class="row">
    <img class="account-header-image" src="{% static 'images/about_hero.jpg' %}" alt="Sun Beaming through a forest">
  </div>
</div>

<!--Info Container-->
<div class="container border border-dark">
    <div class="container low-content">
        <div>
            <br>
            <p>Are you sure you want to delete this record?</p>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <button class="btn btn-danger" type="submit">Yes - Delete Enquiry</button>
                {% comment %} <input type="submit" value="Yes, delete." /> {% endcomment %}
            </div>
        </form>
        <div>
            <br>
            <a href="{{request.META.HTTP_REFERER}}"><button class="btn btn-dark" type="">Cancel</button></a>
            <br>
        </div>
        <br>
    </div>
</div>

{% endblock content %}