{% extends "base.html" %}

{% block content %}
{% load static %}

<!--Top Section-->
<div class="container border border-dark">
    <div class="container purple lighten-4">
        <h3 class="text-center">Enquiry Form</h3>

    </div>
</div>

<div class="container purple lighten-4">
    <div class="row">
        <p> {% include 'messages.html' %}</p>
    </div>
    <div class="row">
        <img class="enquiry-header" src="{% static '/media/images/about_hero.jpg' %}" class="rounded" alt="...">
    </div>

</div>

<div class="container border border-dark ">
    <div class="row  justify-content-center">
    <div class="form-container">
        <!--Header image-->
        <div class="text-header">

            <div class="d-block d-sm-none">
                <p>Edit your enquiry below.</p>
                <p>Please contact me if you need any assistance.</p>
                <p>Johan</p>
            </div>

            
                <!--text for desktop-->
            <div class="d-none d-sm-block">
            <p>Edit your enquiry below.</p>
            <p>If you need any assistance, please get in touch with me and I'll be happy to help.</p>
            <p>Johan</p>
            <p>Sustainable Timber Co.</p>
            </div>
            
        </div>
        <div class="row">
            <h2></h2>
        </div>

    </div>
</div>
</div>
<!--bottom-->
<div class="">
    <div class="container purple lighten-4 border border-dark">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
        <div>
            <p>Yourname: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>


            <p>Species: {{ quote.species }}</p>
            <p>Dimensions L/W/D: {{ quote.length }}cm x {{ quote.width }}cm x {{ quote.thickness }}cm </p>
            <p>Required By: {{ quote.deadline }}</p>
            <p>Quantity: {{ quote.quantity }}</p>
            <p>Grade: {{ quote.grade }}</p>
            <p>Quarter-sawn: {{ quote.quarter_sawn }}</p>
            <p>Comments: {{ quote.comments }}</p>

        </div>
        <div class="row">
            
            <form method="post">
                If the information looks correct then please submit the information and we will get back to you 
                with a quote within 24hrs.
                {% csrf_token %}
              

                <button class="bg-secondary" type="submit">Submit</button>

            </form>
            
        </div>

    </div>
</div>

<!-- <script src="{% static '/js/index.js' %}"></script> -->



{% endblock content %}