{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Custom Milled Timber">
    <meta name="keywords" content="Timber, Forest, Wood, Sustainable, Eco, Sawmill, Tree">
    <meta name="author" content="Andrew Cargill">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sustainable Timber Co.</title>
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8c4e13a9be.js" crossorigin="anonymous"></script>
    <!--Adobe Fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/wxq8onm.css">
</head>

<body>
    <!--Navigation-->
    <nav class="fixed-top navbar-nav-scroll navbar navbar-expand-lg navbar-light bg-light">
        <!--Left side of navigation-->
        <!--if screen size is md or bigger then show swedish flag only-->
        <div class="d-lg-none d-xl-none">
            <!--If screen is sm or xs - show Swedish Flag or User Status-->
            <div class="status-mobile bg-light text-muted">
                {% if user.is_authenticated %}
                <i class="bi bi-person-circle"></i> {{ user.username|capfirst }}
                {% elif messages %}
                {% for message in messages %}
                {{message}}

                {% endfor %}
                {% else %}
                <img class="swedish-flag" src="{% static 'images/swedishflag.png' %}" alt="Swedish Flag">
                {% endif %}
            </div>
        </div>
        <div class="d-none d-lg-block d-xl-block"><img class="swedish-flag" src="{% static 'images/swedishflag.png' %}"
                alt="Swedish Flag">
        </div>

        <a class="navbar-brand" href="{% url 'home' %}">Sustainable Timber Co.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% url 'home' as url %}
                <li class="nav-item {% if request.path == url %}active{% endif %}">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                {% url 'about' as url %}
                <li class="nav-item {% if request.path == url %}active{% endif %}">
                    <a class="nav-link" aria-current="page" href="{% url 'about' %}">About</a>
                </li>
                {% url 'forest' as url %}
                <li class="nav-item {% if request.path == url %}active{% endif %}">
                    <a class="nav-link" aria-current="page" href="{% url 'forest' %}">Our Forest</a>
                </li>
                {% if user.is_authenticated %}
                {% if user.username == 'admin' %}
                <li class="nav-item">
                    <a class="nav-link admin-nav" href="{% url 'admin:index' %}">*Admin Control Panel*</a>
                </li>
                {% url 'account_logout' as url %}
                <li class="nav-item {% if request.path == url %}active{% endif %}">
                    <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
                </li>
                {% else %}
                {% url 'quote_list' as url %}
                <li class="nav-item {% if request.path == url %}active{% endif %}">
                    <a class="nav-link" href="{% url 'quote_list' %}">Enquiries</a>
                </li>
                {% url 'new_enquiry' as url %}
                <li class="nav-item {% if request.path == url %}active{% endif %}">
                    <a class="nav-link" href="{% url 'new_enquiry' %}">New Enquiry</a>
                </li>
                {% url 'account_logout' as url %}
                <li class="nav-item {% if request.path == url %}active{% endif %}">
                    <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
                </li>
                {% endif%}
                {% else %}
                {% url 'about_enquiry_system' as url %}
                <li class="nav-item {% if request.path == url %}active{% endif %}">
                    <a class="nav-link" href="{% url 'about_enquiry_system' %}">Custom Timber</a>
                </li>
                {% url 'account_login' as url %}
                <li class="nav-item {% if request.path == url %}active{% endif %}">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                {% url 'account_signup' as url %}
                <li class="nav-item {% if request.path == url %}active{% endif %}">
                    <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
            <!--Right side of navigation - For lg & xl screen sizes -->
            <!--Blank or show User Login Status if logged in-->
            <div class="d-sm-none d-none d-lg-block bg-light text-muted">
                {% if user.is_authenticated %}
                {% if user.username == 'admin' %}
                <p class="status-large-display"><i class="bi bi-person-circle"></i> {{ user.username|capfirst }}</p>
                {% else %}
                <p class="status-large-display"><i class="bi bi-person-circle"></i> {{ user.username|capfirst }}</p>
                {% endif%}
                {% else %}

                {% if messages %}
                {% for message in messages %}

                <p class="status-large-display">{{message}}</p>

                {% endfor %}
                {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>

    <!--Spacing to adjust for fixed navigation-->
    <div class="nav-spacer"></div>

    <!--Content-->
    {% block content %}{% endblock content %}

    <!--Footer-->
    <footer class="page-footer teal bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <p class="grey-text text-lighten-4"> Västra Selet 15, Vännäs, 91192</p>

                </div>
                <div class="col l3 s12">
                    <p><i class="bi bi-c-circle"></i> Copyright 2022 - Sustainable Timber Co.</p>

                </div>
                <div class="col l3 s12">
                    <p>Tel: 07384 383789</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>