{% extends "base.html" %} {% block content %} {% load static %}

<!--Hero Image-->
<div class="hero-image">
  <img class="hero" src="{% static 'images/hero.webp' %}" alt="A dark green pine forest back-lite by the sun">
  <div class="hero-text">
    <h1>Nature first</h1>
    <h2 class="hero-sub-text">Custom Milled Timber</h2>
  </div>


<!--3 Card Container-->
<div class="row justify-content-center">

  <!--1st Card - Meet Johan -->
  <div class="col-sm mt-5 three-card-container">
    <div class="card text-center border-0 bg-light">
      <div class="card-header border-0 bg-transparent">
        <img src="{% static 'images/johan_hero.webp' %}" class="round-image rounded-circle" alt="A picture of company owner Johan">
      </div>
      <div class="card-body">
        <h3 class="card-title">Hello, I'm Johan</h3>
        <p class="card-text">Welcome to my company website.</p>
        <p>
          I work with instrument makers and carpenters to provide the very best
          sustainable timber.
        </p>
        <p class="signature">Johan</p>
        <a href="{% url 'about' %}" class="btn btn-dark button-bottom">Read More >></a>
      </div>
    </div>
  </div>

  <!--2nd Card - True Sustainable Forestry -->
  <div class="col-sm mt-5 three-card-container">
    <div class="card text-center border-0 bg-light">
      <div class="card-header border-0 bg-transparent">
        <img src="{% static 'images/eco_hero.webp' %}" class="round-image rounded-circle" alt="A picture of a sun-lit forest">
      </div>
      <div class="card-body">
        <h3 class="card-title">True Sustainable Forestry</h3>
        <p class="card-text">
          In my other life I am a computer programmer and have created a
          custom database system that documents every tree, log and plank
          produced.
        </p>
        <a href="{% url 'forest' %}" class="btn btn-dark button-bottom">Learn More >></a>
      </div>
    </div>
  </div>

  <!--3rd Card - How I can help your next project-->
  <div class="col-sm mt-5 three-card-container">
    <div class="card text-center border-0 bg-light">
      <div class="card-header border-0 bg-transparent">
        <img src="{% static 'images/project_hero.webp' %}" class="round-image rounded-circle" alt="A close up of a wood working tools">
      </div>
      <div class="card-body">
        <h3 class="card-title">How I can help your next project</h3>
        <p class="card-text">
          I provide the timber specifically for your project. The first step is
          completing the enquiry form and from there we can set up an chat
          online.
        </p>
        <a href="{% url 'about_enquiry_system' %}" class="btn btn-dark button-bottom">Read More >></a>
      </div>
    </div>
  </div>
</div>

<!--Highlight section-->
<div class="highlight-content-container container col align-self-center">
  <!--Highlight 1: Selective Cut-->
  <div class="mt-5">
    <div class="row bg-light">
      <div class="col-sm-4 highlight-text text-justify text-sm-right text-center highlight-text-body">
        <h4>Take only the trees that help the forest</h4>
        <p>
          The small forest that I own is managed through selective-cutting.
          Which means I only remove a limited amount of trees each year in
          accordance to my forest plan.
        </p>
        <a href="{% url 'forest' %}" class="btn btn-dark">Read More >></a>
      </div>
      <div class="col-sm-8">
        <img class="highlight_image rounded" src="{% static 'images/highlight1.webp' %}" alt="A forest in the daylight">
      </div>
    </div>
  </div>
  
  <!--Highlight 2: That Creative Process-->
  <div class="mt-5">
    <div class="row bg-light">
      <div class="col-sm-8 highlight-text">
        <img class="highlight_image rounded" src="{% static 'images/highlight2.webp' %}" alt="A man operating a sawmill">
      </div>
      <div class="col-sm-4 highlight-text text-justify text-sm-left text-center highlight-text-body">
        <h4>That creative process</h4>
        <p>
          The story of the wood is a great part of my customers creative
          process. I love providing what my amazing customers need.
        </p>
        <a href="{% url 'forest' %}" class="btn btn-dark">Read More >></a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}