{% extends "base.html" %}

{% block content %}
{% load static %}


<div class="container bg-secondary border border-dark">
    <div class="container purple lighten-4">
        <p>top spacer</p>

    </div>
</div>
<div class="container bg-primary border border-dark">
    <div class="container purple lighten-4">
        <div class="row">
            <p> {% include 'messages.html' %}</p>
        </div>
        <div class="row">
            <h2>User Home</h2>
        </div>

    </div>
</div>
<div class="container bg-danger border border-dark">
    <div class="container purple lighten-4">
        <div class="row">
            <p>main top container information</p>
        </div>
        <div class="row">
            <h2></h2>
        </div>

    </div>
</div>
<div class="">
    <div class="container purple lighten-4 border border-dark">
        
        <div class="row">
            <p>Form name</p>
        </div>
        <div class="row">
            
            <form method="post">
                {% csrf_token %}
                {{ form.as_table }}
               
                <button class="bg-secondary" type="submit">Submit</button>

            </form>
            
        </div>

    </div>
</div>

{% endblock content %}