{% extends "base.html" %}

{% block content %}
{% load static %}


<div class="container border border-dark">
    <div class="container purple lighten-4">
        <h3>Enquiry Form</h3>

    </div>
</div>

<div class="container purple lighten-4">
    <div class="row">
        <p> {% include 'messages.html' %}</p>
    </div>
    <div class="row">
        <img class="enquiry-header" src="{% static '/media/images/about_hero.jpg' %}" class="rounded" alt="...">
    </div>

</div>

<div class="container border border-dark ">
    <div class="row  justify-content-center">
    <div class="form-container">
        <!--Header image-->
        <div class="text-header">

            <div class="d-block d-sm-none">
                <p>Begin by filling in the details below.</p>
                <p>Contact me if you need any assistance.</p>
                <p>Johan</p>
            </div>

            
                <!--text for desktop-->
            <div class="d-none d-sm-block">
            <p>Should your project require timber of varying dimensions and/or wood species, simply create a new enquiry for each.</p>
            <p>Use the comments section to give instructions or helpful information on how you are going to use the wood,
            for example: <i>'This will be for a table top - minimum of 100cm will need to be Grade 0'</i>.</p>
            <p>If you need any assistance, please get in touch with me and I'll be happy to help.</p>
            <p>Johan</p>
            <p>Sustainable Timber Co.</p>
            </div>
            
        </div>
        <div class="row">
            <h2></h2>
        </div>

    </div>
</div>
</div>
<div >
    <div class="container purple lighten-4 border border-dark form-container-outer">


        <div class="row justify-content-center ">
            <div class="form-container">
                <form id="form-template" method="post">
                    {% csrf_token %}

                    <!--Title-->


                    <div class="form-group">
                        <label for="title-input">Title:</label>
                        {{ form.title }}

                    </div>



                    <!--Deadline-->

                    <div class="form-group">
                        <label for="deadline-date">Deadline:</label>

                        {{ form.deadline }}</div>

                    <!--species-->

                    <div class="form-group">
                        <label for="species-input">Species:</label>
                        {{ form.species }}</div>


                    <!--spacer-->
                    <div class="dropdown-divider">   
                    </div>

                    <!--width-->
                    <div class="form-group">
                        <label for="width-input">Width:</label>
                        {{ form.width }}</div>
                    <!--depth-->
                    <div class="form-group">
                        <label for="depth-input">Depth:</label>
                        {{ form.thickness }}</div>

                    <!--length-->
                    <div class="form-group">
                        <label for="length-input">Length:</label>
                        {{ form.length }}
                    </div>

                    <!--spacer-->
                    <div class="dropdown-divider">   
                    </div>

                    <!--Quarter-Sawn-->
                    <div class="form-check">

                        {{ form.quarter_sawn }}
                        <label class="form-check-label" for="quarter-input">Quarter-Sawn</label>
                    </div>

                    <!--spacer-->
                    <div class="dropdown-divider">
                       
                    </div>

                    <!--Grade-->
                    <div class="form-group">
                        <label for="grade-input">Wood Grade:</label>
                        {{ form.grade }}
                    </div>

                    <!--Quantity-->
                    <div class="form-group">
                        <label for="quantity-input">Quantity:</label>
                        {{ form.quantity }}
                    </div>


                    <!--spacer-->
                    <div class="dropdown-divider">
                       
                    </div>

                    <!--Comments-->
                   

                        <div class="">
                            <label for="comments-input">Comments: </label>
                            {{ form.comments }}

                        </div>
                        <!--spacer-->
                    <div class="dropdown-divider">
                       
                    </div>

                    <!--Submit-->

                            <button class="btn btn-primary btn-block" type="submit">Save Enquiry</button>
                        
                        

                      
                   














                </form>
            </div>
        </div>

    </div>
</div>

{% endblock content %}