{% extends "base.html" %}

{% block content %}
{% load static %}


<div class="container border border-dark">
    <div class="container purple lighten-4">
        <p>top spacer</p>

    </div>
</div>

    <div class="container purple lighten-4">
        <div class="row">
            <p> {% include 'messages.html' %}</p>
        </div>
        <div class="row">
            <img class="enquiry-header" src="{% static '/media/images/about_hero.jpg' %}" class="rounded" alt="...">
        </div>

    </div>

<div class="container border border-dark">
    <div class="container purple lighten-4">
        <!--Header image-->
        <div class="">
           <h3>New Enquiry Form</h3>
           <p>Fill in the form below to get started. I take my...  </p>
        </div>
        <div class="row">
            <h2></h2>
        </div>

    </div>
</div>
<div class="">
    <div class="container purple lighten-4 border border-dark form-container-outer">

        
        <div class="row justify-content-center ">
            <div class=" ">
                <form id="form-template" method="post">
                    {% csrf_token %}

                    <!--Title-->
                    <span class="row border-dark">
                        <div class="col-4 text-left">
                            Project Title:</div>
                        <div class="col-8">
                            {{ form.title }}</div>
                        
                    </span>
                    <!--Deadline-->
                    <span class="row border-dark">
                        <div class="col-4 text-left">
                            Project Deadline:</div>
                        <div class="col-8">
                            {{ form.deadline }}</div>
                    </span>
                    <!--species-->
                    <span class="row border-dark">
                        <div class="col-4 text-left">
                            Species:</div>
                        <div class="col-8">
                            {{ form.species }}</div>
                    </span>

                    <!--spacer-->
                    <div class="form-spacer"><hr/></div>

                    <!--width-->
                    <span class="row border-dark">
                        <div class="col-4 text-left">
                            Width:</div>
                        <div class="col-8">
                            {{ form.width }}</div>
                        
                    </span>

                    <!--depth-->
                    <span class="row border-dark">
                        <div class="col-4 text-left">
                            Depth:</div>


                        <div class="col-8">
                            {{ form.thickness }}
                        </div>
                    </span>

                    <!--length-->
                    <span class="row border-dark">
                        <div class="col-4 text-left">
                            Length:
                        </div>
                        <div class="col-8">
                            {{ form.length }}
                        </div>
                    </span>

                    <!--spacer-->
                    <div class="form-spacer"><hr/></div>

                    <!--Quarter-Sawn-->
                    <span class="row border-dark">
                        <div class="col-4 text-left">
                            Quarter-Sawn:
                        </div>
                        <div class="col-8">
                            {{ form.quarter_sawn }}
                        </div>
                    </span>

                    <!--Grade-->
                    <span class="row border-dark">
                        <div class="col-4 text-left">
                            Grade:
                        </div>
                        <div class="col-8">
                            {{ form.grade }}
                        </div>
                    </span>

                    <!--Quantity-->
                    <span class="row border-dark">
                        <div class="col-4 text-left">
                            Quantity:
                        </div>
                        <div class="col-8">
                            {{ form.quantity }}
                        </div>
                    </span>

                    <!--spacer-->
                    <div class="form-spacer"><hr/></div>

                    <!--Comments-->
                    <span class="row border-dark">
                        <div class="col-4 text-left">
                            Comments:
                        </div>
                        <div class="col-8">
                            
                        </div>
                    </span>
                    <span class="row">
                        <div class="col-12">

                            {{ form.comments }}
                        
                        </div>
                    </span>

                    <!--spacer-->
                    <div class="form-spacer"></div>

                    <!--Submit-->
                    <span class="row border-dark">
                        <div class="col-4 text-left">
                            
                        </div>
                        <div class="col-4">
                            <button class="bg-secondary" type="submit">Save Enquiry</button>
                        </div>
                        <div class="col-4">

                        </div>
                    </span>












                    

                </form>
            </div>
        </div>

    </div>
</div>

{% endblock content %}