{% extends "base.html" %}

{% block content %}
{% load static %}


<div class="container border border-dark">
    <div class="container purple lighten-4">
        <p>top spacer</p>

    </div>
</div>

<div class="container purple lighten-4">
    <div class="row">
        <p> {% include 'messages.html' %}</p>
    </div>
    <div class="row">
        <img class="enquiry-header" src="{% static '/media/images/about_hero.jpg' %}" class="rounded" alt="...">
    </div>

</div>

<div class="container border border-dark">
    <div class="container purple lighten-4">
        <!--Header image-->
        <div class="">
            <h3>New Enquiry Form</h3>
            <p>Fill in the form below to get started. I take my... </p>
        </div>
        <div class="row">
            <h2></h2>
        </div>

    </div>
</div>
<div class="">
    <div class="container purple lighten-4 border border-dark form-container-outer">


        <div class="row justify-content-center ">
            <div class=" ">
                <form id="form-template" method="post">
                    {% csrf_token %}

                    <!--Title-->


                    <div class="form-group">
                        <label for="title-input">Title:</label>
                        {{ form.title }}

                    </div>



                    <!--Deadline-->

                    <div class="form-group">
                        <label for="deadline-date">Deadline:</label>

                        {{ form.deadline }}</div>

                    <!--species-->

                    <div class="form-group">
                        <label for="species-input">Species:</label>
                        {{ form.species }}</div>


                    <!--spacer-->
                    <div class="dropdown-divider">   
                    </div>

                    <!--width-->
                    <div class="form-group">
                        <label for="width-input">Width:</label>
                        {{ form.width }}</div>
                    <!--depth-->
                    <div class="form-group">
                        <label for="depth-input">Depth:</label>
                        {{ form.thickness }}</div>

                    <!--length-->
                    <div class="form-group">
                        <label for="length-input">Length:</label>
                        {{ form.length }}
                    </div>

                    <!--spacer-->
                    <div class="dropdown-divider">   
                    </div>

                    <!--Quarter-Sawn-->
                    <div class="form-check">

                        {{ form.quarter_sawn }}
                        <label class="form-check-label" for="quarter-input">Quarter-Sawn</label>
                    </div>

                    <!--spacer-->
                    <div class="dropdown-divider">
                       
                    </div>

                    <!--Grade-->
                    <div class="form-group">
                        <label for="grade-input">Wood Grade:</label>
                        {{ form.grade }}
                    </div>

                    <!--Quantity-->
                    <div class="form-group">
                        <label for="quantity-input">Quantity:</label>
                        {{ form.quantity }}
                    </div>


                    <!--spacer-->
                    <div class="dropdown-divider">
                       
                    </div>

                    <!--Comments-->
                   

                        <div class="">
                            <label for="comments-input">Comments: </label>
                            {{ form.comments }}

                        </div>
                        <!--spacer-->
                    <div class="dropdown-divider">
                       
                    </div>

                    <!--Submit-->

                            <button class="btn btn-primary btn-block" type="submit">Save Enquiry</button>
                        
                        

                      
                   














                </form>
            </div>
        </div>

    </div>
</div>

{% endblock content %}