{% extends "base.html" %} {% block content %} {% load static %}

<!--Page header image-->
<div class="hero-image">
    <img class="highlight_image_about" src="{% static 'images/about_hero.jpg' %}" alt="Sun beaming through a forest">
</div>

<!--Page Content-->
<div class="row justify-content-center">
    <div class="col-sm mt-5">
        <div class="container low-content">
            <div class="row">
                <div class="col-md-8 col-sm-12 text-margin">
                    <h5>Our Forest</h5>
                    <p>
                        The forest is rougly 100 acres. The forest soil is sand-based meaning that it is ideal for Pine
                        and spruce.
                        Tree age ranges throughout the forest, but we have access to trees as old as 100 years.
                    </p>
                    <h5>Managing the forest</h5>
                    <p>Selective cut forestry is our method of choice as it allows the nature to remain unharmed and
                        encourages the forest to become mixed-age and mixed species over time. Around 40 percent of the
                        trees we mill are wind-fallen (Trees that fell due to high-winds).
                    </p>
                    <p>We only use small machines to remove the trees and every tree we take down is selected and felled
                        by hand.
                    </p>
                    <a href="{% url 'about_enquiry_system' %}" class="btn btn-dark">Enquire About Customer Timber</a>
                </div>
                <div class="col-md-4 offset-md-0 col-sm-12">
                    <img class="side_image_about rounded" src="{% static 'images/forest.png' %}" alt="Sun lite forest">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}