{% extends "base.html" %} {% block content %}

{% load static %}
<!--Header-->
<div class="container border  bg-dark text-white border-dark">
  <div class="container">
    <h3 class="text-center">Custom Timber Enquiry System </h3>
  </div>
</div>

<!--Header image-->
<div class="container">
  <div class="row">
    <img class="account-header-image" src="{% static 'images/about_hero.jpg' %}" class="rounded" alt="...">
  </div>
</div>

<!--Top Info container-->
<div class="container border border-dark">
  <div class="container">
    <div>
      <p> {% include 'messages.html' %}</p>
    </div>
    <h4>Welcome {{ user.username }}!</h4>
    <p>This app allows me to assist you with your customer timber projects.
    </p>
    <p>Create an enquiry or enquiries and then submit them to me. I will get back to you within 24hours</p>
    <p>Plese do give me a call if you need any assistance.</p>
    <p class="signature">Johan</p>
    <!--Buttons-->
    <div>
      <a class="btn btn-success" href="{% url 'new_enquiry' %}">New Enquiry</a>
      <a class="btn btn-dark" href="{% url 'account_logout' %}">Sign Out</a>
    </div>
    <br>
  </div>
</div>
<!--Bottom Container-->
<div class="container purple lighten-4 border border-dark">
  <!--Tables injected from /table-views/-->
  <div>
    <!--Table for mobile screens-->
    <div>
      {% include 'table_views/mobile_table.html' %}
    </div>
    <!--Table for Medium and large screens-->
    <div>
      {% include 'table_views/standard_table.html' %}
    </div>
  </div>
</div>
{%endblock%}