{% extends "base.html" %} {% block content %}

<div class="container  ">
  <div class="container purple lighten-4">
    <p>top spacer</p>
  </div>
</div>
<div class="container  ">
  <div class="container purple lighten-4">
    <div class="row">
      <p></p>
    </div>
    <div class="row">

    </div>
  </div>
</div>
<div class="container border border-dark">
  <div class="container purple lighten-4">
    <div class="">
      <div>
        <p> {% include 'messages.html' %}</p>
      </div>
      <h2>Custom Timber Quote System</h2>

      <p>Welcome {{ user.username }}!</p>
      <p>This app allows me to assist you with your customer timber projects.
      </p>
      <p>Create an enquiry or enquiries and then submit them to me. I will get back to you within 24hours</p>
      <p>If you need any assistance please get in touch via our contact page.</p>
      <p>thanks, Johan</p>
    </div>
    <div class="row">
      <h2></h2>
    </div>
  </div>
</div>
<div class="">
  <div class="container purple lighten-4 border border-dark">

    <div class="row">
    </div>
    <div class="row">

      <a href="{% url 'new_enquiry' %}">
        <button type="button" class="btn btn-success">New Enquiry</button>
      </a>

      <!--research table-->
      <h2>reaseach table</h2>
      <div class="table-responsive">
        <table class="table table-hover" style="width: 100%">

          <thead>
            <tr>
              <th scope="col">
                <i class="bi bi-file-earmark-bar-graph-fill"></i> Title
              </th>
              <th scope="col"><i class="fa-solid fa-tree"> </i> Speices</th>
              <th scope="col"><i class="bi bi-rulers"></i> Spec</th>
              <th scope="col"><i class="bi bi-bullseye"></i> Deadline</th>
              <th scope="col">
                <i class="bi bi-cloud-arrow-up-fill"></i>
                Status
              </th>
              <th scope="col"><i class="fa-solid fa-trash"></i></th>
            </tr>
          </thead>
          <tbody>
            <!--FOR STATEMENT-->
            {% for QuoteData in quote_list %}

            <!--IF STATEMENT OF STATUS START-->
            {% if QuoteData.status == 0 %}
            <tr class="pointer clickable-row" onclick="location.href='{% url 'quote_update' QuoteData.id %}' ">
              <th scope="row">

                <a href="{% url 'quote_update' QuoteData.id %}" class="post-link">
                  {{ QuoteData.title}}
                </a>
              </th>
              <!--Speices-->
              <td>

                {{ QuoteData.species }}
              </td>

              <!--deminsions-->
              <td>
                {{ QuoteData.width }} x {{ QuoteData.thickness }} x
                {{QuoteData.length }}
              </td>
              <!--deadline-->
              <td>{{ QuoteData.deadline }}</td>
              <!--status-->
              <td>{{ QuoteData.get_status_display }}</td>
              <td>
                <a href="{% url 'quote_delete' QuoteData.id %}" class="post-link">
                  <i id="active-delete" class="bi bi-x-square-fill delete_button"></i>
                </a>
                
              </td>
            </tr>

            <!--ELSE STATEMENT OF STATUS-->
            {% else %}
            <tr>
              <th scope="row">
                <!--IF STATEMENT OF STATUS START-->
                <a href="{% url 'quote_update' QuoteData.id %}" class="post-link">
                  {{ QuoteData.title}}
                </a>
              </th>
              <!--Speices-->
              <td>

                {{ QuoteData.species }}
              </td>

              <!--deminsions-->
              <td>
                {{ QuoteData.width }} x {{ QuoteData.thickness }} x
                {{QuoteData.length }}
              </td>
              <!--deadline-->
              <td>{{ QuoteData.deadline }}</td>
              <!--status-->
              <td>{{ QuoteData.get_status_display }}</td>
              <td>
                <a href="{% url 'quote_delete' QuoteData.id %}" class="post-link">
                  <i id="active-delete" class="bi bi-x-square-fill delete_button"></i>
                </a>
                {% endif %}
              </td>
            </tr>
            <!--End For-->
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!--Orginal table-->
      <h2>original table</h2>
      <div class="table-responsive">
        <table class="table table-hover" style="width: 100%">

          <thead>
            <tr>
              <th scope="col">
                <i class="bi bi-file-earmark-bar-graph-fill"></i> Title
              </th>
              <th scope="col"><i class="fa-solid fa-tree"> </i> Speices</th>
              <th scope="col"><i class="bi bi-rulers"></i> Spec</th>
              <th scope="col"><i class="bi bi-bullseye"></i> Deadline</th>
              <th scope="col">
                <i class="bi bi-cloud-arrow-up-fill"></i>
                Status
              </th>
              <th scope="col"><i class="fa-solid fa-trash"></i></th>
            </tr>
          </thead>
          <tbody>
            {% for QuoteData in quote_list %}
            <tr>
              <th scope="row">
                {% if QuoteData.status == 0 %}
                <!--If statement of status starts-->
                <a href="{% url 'quote_update' QuoteData.id %}" class="post-link">
                  {{ QuoteData.title}}
                </a>
                <!--Else of if statement starts-->
                {% else %} {{ QuoteData.title}}
                <!--Endif statement-->
                {% endif %}
              </th>
              <td>{{ QuoteData.species }}</td>
              <td>
                {{ QuoteData.width }} x {{ QuoteData.thickness }} x
                {{QuoteData.length }}
              </td>
              <td>{{ QuoteData.deadline }}</td>

              <td>
                {% if QuoteData.status == 0 %}
                <a href="{% url 'quote_detail' QuoteData.id %}" class="post-link">
                  {{ QuoteData.get_status_display }}
                </a>
                {% elif QuoteData.status == 1 %} <div id="submitted"> {{ QuoteData.get_status_display }} </div>

                {% else %} <div id="quoted"> {{ QuoteData.get_status_display }} </div>{% endif %}
              </td>

              <td>
                {% if QuoteData.status == 1 %}
                <i id="" class="bi bi-x-square-fill delete_button"></i>
                {% else %}
                <a href="{% url 'quote_delete' QuoteData.id %}" class="post-link">
                  <i id="active-delete" class="bi bi-x-square-fill delete_button"></i>
                </a>
                {% endif %}




              </td>
              {% endfor %}
            </tr>


          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
{%endblock%}