{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container bg-secondary border border-dark">
    <div class="container purple lighten-4">
        <p>top spacer</p>

    </div>
</div>
<div class="container bg-primary border border-dark">
    <div class="container purple lighten-4">
        <div class="row">
            <p></p>
        </div>
        <div class="row">
            <h2>Add to quote</h2>
            
        </div>

    </div>
</div>
<div class="container bg-danger border border-dark">
    <div class="container purple lighten-4">
        <div class="row">
            <p>main top container information</p>
        </div>
        <div class="row">
            <h2>Submit Quote Request: {{ quote.title }} </h2>
        </div>

    </div>
</div>
<div class="">
    <div class="container purple lighten-4 border border-dark">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
        <div>
            <p>Yourname: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>


            <p>Species: {{ quote.species }}</p>
            <p>Dimensions L/W/D: {{ quote.length }}cm x {{ quote.width }}cm x {{ quote.thickness }}cm </p>
            <p>Required By: {{ quote.deadline }}</p>
            <p>Quantity: {{ quote.quantity }}</p>
            <p>Grade: {{ quote.grade }}</p>
            <p>Quarter-sawn: {{ quote.quarter_sawn }}</p>
            <p>Comments: {{ quote.comments }}</p>

        </div>
        <div class="row">
            
            <form method="post">
                If the information looks correct then please submit the information and we will get back to you 
                with a quote within 24hrs.
                {% csrf_token %}
              

                <button class="bg-secondary" type="submit">Submit</button>

            </form>
            
        </div>

    </div>
</div>

<!-- <script src="{% static '/js/index.js' %}"></script> -->



{% endblock content %}